<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<style>

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

</style>
<body>
<script>

// get the data
d3.csv("{{ url_for('static', filename='data/force.csv') }}", function(error, links) {

var nodes = {};



// // Recursively get number of children
// // https://stackoverflow.com/a/26890322
// var bubble_up_total_children = function(node) {
//   var child, _i, _len, _ref;
//   if (node.children && node.children.length > 0) {
//     _ref = node.children;
//     for (_i = 0, _len = _ref.length; _i < _len; _i++) {
//       child = _ref[_i];
//       bubble_up_total_children(child);
//     }
//     node.total_children = node.children.length + node.children.reduce(function(a, b) {
//       return a.total_children + b.total_children;
//     });
//   } else {
//     node.total_children = 0;
//   }
// };

// bubble_up_total_children(root);
var my_nodes = {};
// console.log("my_nodes outside: " + my_nodes)
// my_nodes.push("sample string")
// console.log("my_nodes outside: " + my_nodes)


// Compute the distinct nodes from the links.
links.forEach(function(link) {
    console.log("begin link loop");
    console.log("my_nodes is: ");
    console.log(my_nodes);
    link.source = nodes[link.source] || 
        (nodes[link.source] = {name: link.source});
    link.target = nodes[link.target] || 
        (nodes[link.target] = {name: link.target});
    link.value = +link.value;
    // console.log("link.source: ")
    // console.log(link.source.name)
    // console.log("link.target: ")
    // console.log(link.target)
    // console.log("link.target: " + link.target)
    // console.log("link.value: " + link.value)
    // console.log("nodes[link.source]: " + nodes[link.source])
    
    // if (!my_nodes.includes(link.source))
    // {
    my_source_key = link.source.name;
    my_target_key = link.target.name;

    if (!(my_source_key in my_nodes))
    {
        console.log(my_source_key + " not yet known, adding");
        my_nodes[my_source_key] = {};
        my_nodes[my_source_key]["out"] = 1;
        my_nodes[my_source_key]["in"] = 0;
    }
    else
    {
        // if(!("out" in my_nodes[my_source_key]))
        // {
        //     my_nodes[my_source_key] = {};
        //     my_nodes[my_source_key]["out"] = 1;
        // }
        console.log(my_source_key + " already a source with value " + my_nodes[my_source_key]["out"] + ", incrementing");        
        my_nodes[my_source_key]["out"] += 1;
    }
    // my_nodes[links.source] = (my_nodes[links.source]["out"]+1) || 1;
        
    //     console.log("source not in list yet, adding: ");
    //     console.log(link.source);
    //     my_nodes.push(link.source);
    //     console.log("added, my_nodes: " + my_nodes);
    // }
    // if (!my_nodes.includes(link.target))
    if (!(my_target_key in my_nodes))
    {
        console.log(my_target_key + " not yet known, adding");        
        my_nodes[my_target_key] = {}; 
        my_nodes[my_target_key]["out"] = 0;               
        my_nodes[my_target_key]["in"] = 1;
    }
    else
    {
        console.log(my_target_key + " already a target with value " + my_nodes[my_target_key]["in"] + ", incrementing");                
        my_nodes[my_target_key]["in"] += 1;
        
    }
    // {
    // my_nodes[links.source] = (my_nodes[links.source]["in"]+1) || 1;
        
    //     console.log("target not in list yet, adding " + link.target);  
    //     my_nodes.push(link.target);
    //     console.log("added, my_nodes: " + my_nodes);
    // }

    

});

console.log(my_nodes);
// my_nodes.push("cat");
// console.log(my_nodes);

var width = 960,
    height = 500;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(60)
    .charge(-300)
    .on("tick", tick)
    .start();

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

// build the arrow.
svg.append("svg:defs").selectAll("marker")
    .data(["end"])      // Different link/path types can be defined here
  .enter().append("svg:marker")    // This section adds in the arrows
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

// add the links and the arrows
var path = svg.append("svg:g").selectAll("path")
    .data(force.links())
  .enter().append("svg:path")
//    .attr("class", function(d) { return "link " + d.type; })
    .attr("class", "link")
    .attr("marker-end", "url(#end)");

// define the nodes
var node = svg.selectAll(".node")
    .data(force.nodes())
  .enter().append("g")
    .attr("class", "node")
    .call(force.drag);



// var node = svg.selectAll(".node")
//     .data(graph.nodes)
//     .attr("r", function(d){
//         if (d.value === myUniqueId){
//           return 3;
//     } else {
//           return 10;
//     }
// })

// Recursively get number of children
// https://stackoverflow.com/a/26890322
var bubble_up_total_children = function(node) {
  var child, _i, _len, _ref;
  if (node.children && node.children.length > 0) {
    _ref = node.children;
    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
      child = _ref[_i];
      bubble_up_total_children(child);
    }
    node.total_children = node.children.length + node.children.reduce(function(a, b) {
      return a.total_children + b.total_children;
    });
  } else {
    node.total_children = 0;
  }
};

bubble_up_total_children(nodes);

// Node scaling function
// https://stackoverflow.com/a/26888487
var minRadius = 10;
var maxRadius = 15;
var scale = d3.scale.linear().range([minRadius,maxRadius]);
// add the nodes
node.append("circle")
    .attr("r", function(d){
        // return d.total_children;
        return 5;
        // if (d.children){
        //     console.log("case A")
        //     return scale(d.children.length);
        // }
        // else if(d._children){
        //     console.log("case B")
        //     return scale(d._children.length);
        // }
        // else{
        //     console.log("case C")
        //     return minRadius;
        // }
    })

// add the text 
node.append("text")
    .attr("x", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name; });

// add the curvy lines
function tick() {
    path.attr("d", function(d) {
        var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" + 
            d.source.x + "," + 
            d.source.y + "A" + 
            dr + "," + dr + " 0 0,1 " + 
            d.target.x + "," + 
            d.target.y;
    });

    node
        .attr("transform", function(d) { 
  	    return "translate(" + d.x + "," + d.y + ")"; });
}

});

</script>
</body>
</html>